<header>
  <h2>Map History</h2>
</header>
<div class="container">
  <div class="information">
    <h3>Filtre</h3>
  </div>
  <div id="map"class="my-google-map">
    <google-map [width]="1000" [height]="600" [options]="mapOptions" polyOptions>
      <map-polygon [options]="polyFrance"></map-polygon>
      <map-polygon [options]="polyAndore"></map-polygon>
      <map-polygon [options]="polyEspagne"></map-polygon>
      <map-polygon [options]="polyPortugal"></map-polygon>
      <map-polygon [options]="polyAngleterre"></map-polygon>
      <map-polygon [options]="polyPaysdeGalle"></map-polygon>
      <map-polygon [options]="polyEcosse"></map-polygon>
      <map-polygon [options]="polyIrlandeNord"></map-polygon>
      <map-polygon [options]="polyIrlande"></map-polygon>
      <map-polygon [options]="polyIslande"></map-polygon>
      <map-polygon [options]="polyItalie"></map-polygon>
    </google-map>
  </div>
  <div class="information">
    <h3>Informations</h3>
  </div>
</div>